:root {
    --primary-text-color: #212529;
    --secondary-text-color: rgba(255, 255, 255, 0.5);
    --primary-background-color: #343a40;
}

html {
    scroll-behavior: smooth;
}

.btn:focus {
    box-shadow: none;
}

.navbar-toggler-icon {
    border-color: rgba(0, 0, 0, 0);
    border-color: lightgreen;
}

.icon-btn {
    max-width: 55px;
    max-height: 55px;
    min-width: 30px;
    min-height: 30px;
}

.carousel-item {
    padding-bottom: 100%;
    border-radius: 3px;
    overflow: hidden;
}

.carousel-img {
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.carousel-blurred-img {
    height: 200%;
    width: 200%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    filter: blur(100px);
    background-color: black;
}

.carousel-inner:not(.carousel-img) {
    filter: none;
}

.footer-icon {
    max-width: 35px;
}
.rotate90 {
    transform: rotate(135deg);
    transition: transform 0.5s ease;
}

/* Small devices (landscape phones, 576px and up) and Medium devices (tablets, 768px and up)*/
@media (max-width: 576px) {
    .nav-text {
        display: none;
    }
    .navbar-toggler {
        display: flex;
        justify-content: space-between;
    }
    .p-responsive {
        font-size: smaller;
    }
    .icon-btn {
        margin: 0;
        max-width: 30px;
        max-height: 30px;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 576px) {
    .navbar-toggler {
        display: none;
    }
    .zoom {
        position: inherit;
        transition: transform 0.2s;
    }
    .zoom:hover {
        z-index: 10;
        -ms-transform: scale(1.5); /* IE 9 */
        -webkit-transform: scale(1.5); /* Safari 3-8 */
        transform: scale(1.5);
    }
}
