<p class="container text-center mb-4"><a class="text-muted text-center mb-4" href="#" id="scrollToTop">Back to top</a></p>

<div class="container">
    <footer class="d-flex flex-column justify-content-between align-items-center border-top">
        <div class="my-3 container text-center">
            <p>Available at <a class="text-muted" href="mfpel29@gmail.com">mfpel29@gmail.com</a> or 973 975-6701</p>
            <span class="text-muted p-0">Michael Peluso | 2023</span>
        </div>
        <ul class="nav col-12 justify-content-center list-unstyled d-flex my-2">
            <li>
                <a href="https://github.com/michaelpeluso" class="w-100 m-3"><img class="footer-icon img-fluid" src="images/icons/github.png" /></a>
            </li>
            <li>
                <a href="https://www.linkedin.com/in/michaelpeluso5/" class="w-100 m-3"><img class="footer-icon icon-btn img-fluid" src="images/icons/LinkedIn.png" /></a>
            </li>
            <li>
                <a href="https://www.instagram.com/mpeluso05/" class="w-100 m-3"><img class="footer-icon icon-btn img-fluid" src="images/icons/instagram.png" /></a>
            </li>
            <li>
                <a href="https://pelso.itch.io/" class="w-100 m-3"><img class="footer-icon icon-btn img-fluid" src="images/icons/itchio.png" /></a>
            </li>
            <li>
                <a href="mfpel29@gmail.com" class="w-100 m-3"><img class="footer-icon icon-btn img-fluid" src="images/icons/Gmail.png" /></a>
            </li>
        </ul>
    </footer>
</div>
