<p class="container text-center mb-4"><a class="text-muted text-center mb-4" href="#" id="scrollToTop">Back to top</a></p>

<div class="container mb-4 text-muted">
    <footer class="d-flex flex-column justify-content-between align-items-center border-top" style="gap: 2rem">
        <div class="my-3 container text-center d-flex flex-column" style="gap: 0.75rem">
            <span>Available at</span>
            <a class="text-muted" href="mfpel29@gmail.com">mfpel29@gmail.com</a>
            <a class="text-muted" href="mfpel29@gmail.com">mp272@njit.net</a>
            <span class="text-muted">973 975-6701</span>
        </div>
        <div class="d-flex row grid justify-content-center container mb-3">
            <a href="https://github.com/michaelpeluso"><img class="icon-btn img-fluid mx-2 mx-s-3 mx-md-4 zoom" src="images/icons/contacts/github.png" /></a>
            <a href="https://www.linkedin.com/in/michaelpeluso5/"><img class="icon-btn img-fluid mx-2 mx-s-3 mx-md-4 zoom" src="images/icons/contacts/LinkedIn.png" /></a>
            <a href="https://www.instagram.com/mpeluso05/"><img class="icon-btn img-fluid mx-2 mx-s-3 mx-md-4 zoom" src="images/icons/contacts/instagram.png" /></a>
            <a href="https://pelso.itch.io/"><img class="icon-btn img-fluid mx-2 mx-s-3 mx-md-4 zoom" src="images/icons/contacts/itchio.png" /></a>
            <a href="mailto:mfpel29@gmail.com"><img class="icon-btn img-fluid mx-2 mx-s-3 mx-md-4 zoom" src="images/icons/contacts/Gmail.png" /></a>
            <a href="https://njit.joinhandshake.com/stu/users/35366377"><img class="icon-btn img-fluid mx-2 mx-s-3 mx-md-4 zoom" src="images/icons/contacts/handshake.png" /></a>
        </div>
        <span>Michael Peluso | 2023</span>
    </footer>
</div>
