<div class="navbar navbar-expand-md navbar-dark bg-dark sticky-top">
    <!-- <a class="navbar-brand jumbotron-heading" href="#">MP</a> -->
    <button class="navbar-toggler border-0 w-100" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <img src="images/icons/link.png" class="icon-btn" />
        <span class="form-control-sm text-white text-right">Developer, Designer, and Digital Creator</span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">Profile<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/portfolio.html">Portfolio</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/education.html">Education</a>
            </li>
            <!--
            <li class="nav-item">
                <a class="nav-link" href="#">Skills</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Experience</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Contact</a>
            </li>
            -->
        </ul>
    </div>
    <span class="nav-text navbar-text mr-3 text-white">Developer, Designer, and Digital Creator</span>
</div>
